<aside id="menu">
    <ul>
        <li>
            <a asp-controller="Homework" asp-action="Index">Tareas por hacer</a>
        </li>
    </ul>
    <ul>
        <li>
            <a asp-controller="Schedule" asp-action="Index">Administrar horario</a>
        </li>
    </ul>
    <ul>
        <li>
            <a asp-controller="Homework" asp-action="Completed">Ver tareas completadas</a>
        </li>
    </ul>
    <ul>
        <li>
            <a asp-controller="Subject" asp-action="Index">Materias</a>
        </li>
    </ul>
    <ul>
        <li>
            <a asp-controller="User" asp-action="LogOut">Cerrar sesión</a>
        </li>
    </ul>
</aside>