<aside>
    <div>
        <a asp-controller="Homework" asp-action="Index">Tareas por hacer</a>
    </div>
    <div>
        <a asp-controller="Schedule" asp-action="Index">Administrar horario</a>
    </div>
    <div>
        <a asp-controller="Homework" asp-action="Completed">Ver tareas completadas</a>
    </div>
    <div>
        <a asp-controller="User" asp-action="LogOut">Cerrar sesión</a>
    </div>
</aside>