<link rel="stylesheet" href="~/css/MenuComponent.css" asp-append-version="true" />
<script src="https://kit.fontawesome.com/035566ba59.js" crossorigin="anonymous"></script>

<aside>
    <input type="checkbox" id="drawer-toggle" name="drawer-toggle" />
    <label for="drawer-toggle" id="drawer-toggle-label"></label>
    <header class="headerMenu">Agenda UPC</header>
    <div id="div-noti">
        <button id="btn-notification" onclick=seeNotiBar()>Ver notificaciones</button>
        <span id="num-notification"></span>
    </div>
    <div id="noti-bar" class="invisible"></div>
    <nav id="drawer">
        <ul>
            <li class="list_item"><a asp-controller="Homework" asp-action="Index">Tareas por hacer</a></li>
            <li class="list_item"><a asp-controller="Schedule" asp-action="Index">Administrar horario</a></li>
            <li class="list_item"><a asp-controller="Homework" asp-action="Completed">Ver tareas completadas</a></li>
            <li class="list_item"><a asp-controller="Subject" asp-action="Index">Materias</a></li>
            <li class="list_item"><a asp-controller="User" asp-action="LogOut">Cerrar sesión</a></li>
        </ul>
    </nav>
</aside>
<script>
    let url = "https://localhost:7113/";

    const checkNotifications = () =>
    {
        Notification.requestPermission().then((result) => {
        let $btnNotificaciones = document.getElementById("btn-notification");
        let $numNotificaciones = document.getElementById("num-notification");

        if (result === "default" || result === "denied"){
            $btnNotificaciones.style.display = "none";
            console.log("Notificaciones deshabilitadas");
        }
        else{
            let numNotifications = 0;

            fetch(url + "api/Notification")
                .then(res => {
                    if (res != undefined)
                        return res.json();
                    else 
                        throw Error("No hay ninguna notificación");
                })
                .catch(err => {
                    $btnNotificaciones.style.display = "none";
                    $numNotificaciones.style.display = "none";
                })
                .then(response => {
                    let fragment = document.createDocumentFragment();

                    response.data.forEach(el => {
                        numNotifications++;
                        
                        let $div = document.createElement("div");

                        $div.classList.add("noti-container");

                        $div.innerHTML = `
                            <p>Notificacion</p>
                            <p>${el.mensaje}</p>
                        `;

                        if (!el.notificado)
                        {
                            fetch(url + "api/Notification/" + el.idNotication, {
                                method: "PUT"
                            }).then(res => res.json()).then(json => console.log(json));

                            let notification = new Notification(el.mensaje);
                        }

                        fragment.appendChild($div);
                    });

                    document.getElementById("noti-bar").appendChild(fragment);

                    if (numNotifications > 0){
                        $btnNotificaciones.style.display = "block";
                        $numNotificaciones.innerText = "(" + numNotifications + ")";
                    }
                    else{
                        $btnNotificaciones.style.display = "none";
                    }

                    console.log("Número de notificaciones = " + numNotifications);
                    console.log("Notificaciones habilitadas");
                });
            }
        });
    }
    
    checkNotifications();

    setInterval(checkNotifications, 600000);

    const seeNotiBar = () => {
        let $bar = document.getElementById("noti-bar");

        if ($bar.classList.contains("invisible"))
            $bar.classList.remove("invisible");
        else
            $bar.classList.add("invisible");
    }
</script>
