
.main-contenedor {
   display:block;
   align-items:center;
   justify-items:center;
}
.card{
    max-width:300px;
    min-width:300px !important;
    margin-right:20%;
    margin-left:20%;
}

.card-container{
    display:block;
    width:100%;
    justify-items:center;
    align-items:center;
}

.no-tarea {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
}

.content-agregarTarea {
    width: 100%;
    margin-bottom: 40px;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    display: block;
    position: center;
    text-align: center !important;
}

.agregar-tarea {
    padding: 10px 20px;
    background-color: #9b2f37 !important;
    color: #fff !important;
    text-decoration: none;
    border-radius: 15px;
    position: center;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
    transform: translate(-50%, -50%);
}

    .agregar-tarea:hover {
        background-color: #007bff;
    }

.card-subtitle {
    margin: 0;
    font-size: 16px;
    color: #A6A6A6;
}



#contenedor-principal {
    position: relative;
}

#contenedor-difuminado {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#contenedor-tareas {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 2;
    padding: 29px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    height: 90%;
    width: 80%;
    max-width: 600px;
    max-height: 600px;
    overflow: hidden;
    box-sizing: border-box;
    word-wrap: break-word;
}

    #contenedor-tareas h2 {
        margin-top: 0;
    }

    #contenedor-tareas.visible {
        opacity: 1;
        pointer-events: all;
    }

#contenedor-difuminado.visible {
    opacity: 1;
    pointer-events: all;
}